html {
    background-image: url("./Imagenes/fondo 3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(34, 184, 34);
    -webkit-text-stroke: 2px rgb(90, 252, 69);
    text-align: center;
    font-size: 40px;
}

h2 {
    color: rgb(184, 34, 134);
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(252, 237, 25);
}

h3 {
    color: #ffee66;
    -webkit-text-stroke: 2px rgb(252, 103, 77);
    text-align: center;
    font-size: 30px;
}

#FotosPlatas {
    display: flex;
    flex-direction: column;
    margin-left: 8% ;
    width: 10%;
}

.pelotita {
    align-items:end;
}

#ButtonComprar , #buttonVolver {
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
    border-radius:11px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    margin-left: 46%;   
}

#Confirmar {
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
    border-radius:11px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    margin-left: 31%; 
    margin-top: 10%;
    margin-bottom: 7%;

}

#cvv {
    width: 20%;
}

#IngresarNombre, #NumeroTarjeta {
    width: 80%;
}

#IngresarNombre, #NumeroTarjeta, #cvv{
    background-color: #3CBC8D;
    color: white;
    border-radius: 8px;
    margin-top: 4%;
    height: 30px;
    font-size: 20px
} 

::placeholder {
    color: rgba(255, 255, 255, 0.692);
}

.selector {
    background-color: #3CBC8D;
    color: white;
    border-radius: 8px;
    margin-top: 4%;
    height: 30px;
    font-size: 20px
}
 
#datos {
    text-align: center;
}

#logoConejo {
    display: flex;
    justify-content: center;
}

#finalizado {
    display: none;
}

#formulario {
    display: block;
    display: flex;
    justify-content: center;
    border-style:double;
    border-color: #ffaa22;
    border-width: 10px;
    margin-left: 20%;
    margin-right: 20%;    
}